
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/

# VSCode
.vscode/

# Pytest
.cache/
.pytest_cache/

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db